@CHARSET "ISO-8859-1";


#phpconsole{
position:fixed; 
height:40px; 
width:100%; 
border:1px solid black; 
background-color:#fefefe; 
bottom:0;
border-top:2px solid black;
}

#phpconsole .data{
    overflow:scroll;
    height:100%;
}

#phpconsole .data .item {
    font-family: monospace;
    display:block;
    white-space: pre;
    margin:1em 0;
    border-bottom: 1px dotted #a0a0a0;
    background:transparent;
    white-space: pre-wrap;
    
}
#phpconsole .data .item:hover {
    background: #BEE0FF;
    
}
#phpconsole .data .item .trace{
    color: #505050;
    float:right;
}
#phpconsole .data .item .group{
    color: #505050;
    float:left;
}
