/*color: #ff7300;*/
/*#06448a;*/
.form input.invalid {background-color: pink;}
.form textarea.invalid {background-color: pink;}
.form select.invalid {background-color: pink;}
.form strong.error {color: red;}
.form table.one{table-layout: automatic}
.form label{font-size: 0.8em;}

body {
	margin: 0;
	padding: 0;
  font-family: Verdana, sans-serif;
	font-size: 0.8em;
	background:  #F0F0F0;

	}
p	{
	/*color: #666;*/
	color: #000000;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0px;
	}

h2, h3, h4, h5, h6 {
	color: #627081;
	}

a, a:visited 	{
	color: #003366;
	text-decoration: none;
	}
	
a:hover 	{
  background: #003366;
	color: #ffffff;
	/*font-weight: bold;*/
	}

.no_highlight_image{

}
.no_highlight_image img{
text-decoration:none;
background:none;
border:none;
max-width:150px;
}
.no_highlight_image img:hover{
text-decoration:none;
background:none;
}

#wrap {
  position: relative;
  /*width:1000px;*//* defaults to this if JS is disabled*/
  /*width:75%;*/
  /*width:expression(document.body.clientWidth>1000?"1000px":"auto");*/
	/*padding-bottom: 1px;*/
	/*background: #f0f0f0;*/
	/*background: #ffffff;*/
	overflow:hidden;   /* this hides the overflow from the sidebar background in ie6*/
	}

.headerwrap {
	margin: 0;
	/*text-align: left;*/
	/*background: #369;*/
	background: #ffffff;
	}
#title {
	float:left;
	width:70%;
	position:relative;
	background: #ffffff;

}

#title h1{
text-align: left;
padding: 5px 10px 5px 10px;
margin: 0;
font-family: Lucida Handwriting;
}

#title a:hover{
background:none;
color: #003366;
}

#logo {
	float:right;
	width:30%;
	position:relative;
	/*overflow:hidden;*/
	text-align: center;
  padding:0px;
/*  padding: 5px 13px 10px 0px; */
  /*background: #1a4687;   */
  background: #ffffff;
}
#logo img{
width: 100%;

}

.spacer	{
	clear: both;
	/*background: #ffffff;*/
	padding-top:1px;
	}

#container3 {
	clear:left;
	/*float:left;*/
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
	background:#ffffff; /* content background colour */
}

#container2 {
	float:left;
	width:100%;
	position:relative;
	right:83%;
	/*background:#1a4687; /* divider background colour */
	background:#ffffff; /* divider background colour */
}

#container1 { /*contains the content & sidebar*/
	float:left;
	width:100%;
	position:relative;
	right:0%;
	/*border-right:100px solid #a0a0a0;*/
	/*background: #222 url(../images/grdnt_gray.gif) repeat-x; /* sidebar background colour */
	background: #222;
  /*background:#e0e0e0; /* sidebar background colour */
}

.popup_content {
	width:100%;
	float:left;
	position:relative;
  background:#ffffff;
	text-align: left;
	color: #000000;
	/*overflow: scroll;*/
}

.popup_content h1	{
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	background: #003366 url('../images/header-bar.gif'); 
  background-position: top;
	margin-bottom: 0px;
	font-weight: normal;
	margin-top: 0px;
	}
.popup_content a{ color: #003366;}

.popup_content a:hover{
color:#ffffff;
/*font-weight: bold;*/
background: #003366;
}

.popup_content h2 {
  color: #3f3f3f;
  text-decoration: none;
  padding-bottom:0;
}
.content {
	float:right;
	width:83%;
	position:relative;
  left:83%;
	text-align: left;
	color: #000000;
	/*overflow: scroll;*/
}

.content h1	{
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	background: #003366 url('../images/header-bar.gif'); 
  background-position: top;
	margin-bottom: 0px;
	font-weight: normal;
	margin-top: 0px;
	}
.content a{ color: #003366;}

.content a:hover{
color:#ffffff;
/*font-weight: bold;*/
background: #003366;
}

.content h2 {
  color: #3f3f3f;
  text-decoration: none;
  padding-bottom:0;
}

.sidebar {
	float:left;
	width:17%;
	position:relative;
	left:83%;
	overflow:hidden;
	text-align: left;
	color: #ffffff;
/*	background:green; remove this later*/
}

.sidebar a:hover {
	background: #0066bb;
  	}
 	
.sidebar a,.sidebar a:visited {
  padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
  margin:0px;
	color: #ffffff;
	text-decoration: none;
	display: block;
	} 

.sidebar h3	{
	font-size: 14px;
	color: #ffffff;
	padding-left: 15px;	
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	background: #003366 url('../images/header-bar.gif');
	background-position: top;
	margin-bottom: 5px;
	font-weight: normal;
	margin-top: 0px;
	}

.sidebar_selected {
  padding-left: 15px;
  margin:0px;
	
	display: block;
}

.sidebar_selected p{
  background-color: #003366;
  background-image: url('../images/bglbl.gif');
  color: #ffffff;
  }
	
.sidebarpadding {
 padding-left: 15px;
}

#footer {
	clear: both;
	text-align: center;
	/*background: #369;*/
	color: #FFFFFF;
	padding-top: 3px;
	padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  background: #101010 url(../images/footer-bar.gif) repeat-x;
  background-position: bottom;
  /*overflow:hidden;*/
	}

#footer p{
	color: #ffffff;
	padding-top: 0px;
	padding-bottom: 3px;
	}
#footer p{
	color: #ffffff;
	padding-top: 0px;
	padding-bottom: 3px;
	}

#footer a{color: #ffffff;}

.paddingdiv {
	padding-left: 25px;
	padding-right: 15px;
	padding-top: 10px; 
	/*padding-bottom: 15px;*/
	}

.padding_rhs{
	padding-left: 25px;
	padding-right: 15px;
	padding-bottom: 15px;
	}	
.block {
  padding:0;
  margin:0;
  width: 100%;
	clear:both;
}

.block h2{
padding:0;
padding-top:3px;
margin:0;
}

.block h2 strong{
}

.block h3{
padding:0;
padding-top:3px;
margin:0;
}


.block p{
  color: #000000;
  padding-bottom:3px;
}
/*
.block img{
width: 100%;
}
*/
.content_50left {
width: 50%;
float: left;
}

.content_50right {
width: 48%;
float: right;
border-left: 1px solid #000000;
}	

.redbox {
border: 1px solid #000000;
padding: 5px;
display:block;
background-color: pink;

}

table.nolines{
color: #000000;
}
table.nolines label{
/*font-size: 0.9em;*/
}
table.nolines tr,table.nolines td{

text-align: left;
border:0;
padding:3px;
margin:0;
}

table.fixed{
color: #000000;
border:none;
width: 100%;
table-layout:fixed;
}

table.fixed tr{
text-align: left;
padding:10px;
margin:0px;
}
table.fixed td{
text-align: left;
/*border: 1px solid #000000;*/
padding-bottom:10px;
}
table.fixed p{
padding-left:10px;
}
table.tablesmall{
border:1px solid #000000;
padding:0px;
margin:0;
color: #000000;
}
table.tablesmall th{

border:1px solid #000000;
padding:3px;
margin:0;
}
table.tablesmall tr,table.tablesmall td{
font-size: 0.9em;
text-align: left;
border:1px solid #000000;
padding:3px;
margin:0;
}