body {
	margin: 0;
	background-color:#FFFFFF;
}

td, p { font-size: 11px; font-family: Verdana, Arial, sans-serif; font-weight: normal; color:#00066F; }

fieldset { border: 1px solid; border-color: #5271CC; }
legend { font-size: 11px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color:#00066F; }

input, select, textarea { font-size: 11px; font-family: Verdana, Arial, sans-serif; font-weight: normal; color:#000000; }

form { margin: 0px; }

.heading { font-size: 14px; font-family: Arial, sans-serif; font-weight: bold; color:#001061; text-transform: uppercase; }
.heading_left { padding-left:7px; padding-right:7px; width:270px;
/*	FILTER: DropShadow(Color=#000000, OffX=2, OffY=2, Positive=1);*/
	font-size: 14px; font-family: Arial, sans-serif; font-weight: bold; color:#E2ECFF; text-transform: uppercase; }

div.dates { }
div.dates table {width: 100%;
					border: 0px; 
					border-spacing: 0px;
					}
					
div.weektable {}
.weekhead {font-weight: bold;
			font-family: Verdana, Arial, sans-serif; 
			cursor:default; 
			color: #A4A4C7; 
			text-align: left;
			 }

.spacer td {
	width: 1%;	
}

.box { background-color:#FFFFFF; }

.box_text { background-color:#164093; padding-left:3px; padding-right:3px;
 cursor:default; font-weight: normal; color:#B0DDFF; }

.box_heading { padding-left:3px; padding-right:3px; cursor:default; font-weight: bold; color:#7AA6FF; }

.label { font-size: 11px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color:#00066F; }

.label_grey { font-size: 11px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color:#AAAAAA; }

.subject { background-color: #ABC4E5; font-weight: bold; padding-left: 3px; border-color: #001061; border-width:1px; border-style:solid; }

iframe { border:2px inset #98C2F7; }

.outer_table { background-color: #F2F3FF; }

.faceBackground { background-color: #F2F3FF; }

.table_head { background-color: #FFFFFF; }

/*.table_body { border: 1px dotted #001061; }*/

.section_body { border-bottom: 1px solid #5271CC; }

.outer_table_heading { font-size: 14px; font-family: Verdana, Arial, sans-serif; 
			cursor:default; font-weight: bold; color: #000000; 
			text-align: left; white-space: nowrap}

.calendar_date_simple { font-size: 14px; font-family: Verdana, Arial, sans-serif; cursor:default; font-weight: bold; color: #FFFFFF; }
.navcal_header { font-size: 14px; font-family: Verdana, Arial, sans-serif; cursor:default; font-weight: bold; color: #FFFFFF; padding: 0px;}
.navcal_header a:link { font-size: 10px; font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #FFFFFF; padding: 0px;}
.navcal_header a:visited { font-size: 10px; font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #FFFFFF; padding: 0px;}
.navcal_header a:hover { font-size: 10px; font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #E9AD4D; padding: 0px;}

a:link { color: #00066F; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; }
a:visited { color: #00066F; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; }
a:hover { color: #9494B7; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; }

.outer_table_action { font-size: 11px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color: #001061; }

.inner_table_head { border-bottom: 1px solid #5271CC; background-color: #433B94; }

.inner_table_column_heading { font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #A4A4C7; }
.inner_table_column_heading_centre { font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #A4A4C7; text_align: center; width: 10%; }
.inner_table_column_heading a:link { font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #FFFFFF; }
.inner_table_column_heading a:visited { font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #FFFFFF; }
.inner_table_column_heading a:hover { font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #E9AD4D; }

/*.table_bottom_panel { border-left: 1px dotted #000000; border-right: 1px dotted #000000; border-bottom: 1px dotted #000000; background-color: #C0C0C0; }*/
/*.table_bottom_panel {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	background-color: #C0C0C0; }*/

.bottom_panel_button { font-size: 11px; font-family: Verdana, Arial, sans-serif; }

.project_title { font-size: 11px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color: #00066F; }

.project_status { font-size: 11px; font-family: Verdana, Arial, sans-serif; color: #9494B7; }

.calendar_cell_holiday_middle { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; background-color: #C4DDC4; }
.calendar_cell_holiday_right { border-bottom: 1px solid #5271CC; background-color: #C4DDC4; }

.calendar_cell_disabled_middle { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; background-color: #C4C4C4; }
.calendar_cell_disabled_middle_2 { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; background-color: #C4C4C4; width: 2px; }
.calendar_cell_disabled_middle_right { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; background-color: #C4C4C4; text-align: right;}
.calendar_cell_disabled_right { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; background-color: #C4C4C4; text-align: center;}

.calendar_cell_middle { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; background-color: #F2F3FF; }
.calendar_cell_middle_2 { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; background-color: #F2F3FF; width: 2px }
.calendar_cell_right { border-bottom: 1px solid #5271CC; background-color: #F2F3FF; }

.calendar_totals_line_monthly { font-size: 10px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color: black; background-color: #fff0f0; }
.calendar_totals_line_weekly { border-bottom: 1px solid #5271CC; font-size: 10px; font-family: Verdana, Arial, sans-serif; font-weight: normal; color: black;  background-color: #EAEAEA; }
.calendar_totals_line_weekly_right { border-bottom: 1px solid #5271CC; border-right: 1px solid #5271CC; font-size: 10px; font-family: Verdana, Arial, sans-serif; font-weight: normal; color: black;  background-color: #EAEAEA; }

.calendar_total_value_weekly { font-size: 10px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color: red; }
.calendar_total_value_monthly { font-size: 10px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color: red; }

.report_total { border-bottom: 1px solid #5271CC; background-color: #EAEAEA; font-size: 12px; font-family: Veranda, Arial, sans-serif; font-weight: bold; color: red; }
.report_sub_total1 { border-bottom: 1px solid #5271CC; background-color: #EAEAEA; font-size: 11px; font-family: Tahoma, Arial, sans-serif; font-weight: normal; color: red; }
.report_sub_total2 { border-bottom: 1px solid #5271CC; background-color: #EAEAEA; font-size: 11px; font-family: Tahoma, Arial, sans-serif; font-weight: normal; color: blue; }
/*.report_grand_total { border-bottom: 1px solid #5271CC; background-color: #EAEAEA; font-size: 14px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color: red; } */

.report_grand_total { font-size: 14px; font-family: Verdana, Arial, sans-serif; font-weight: bold; color: red; background-color: #fff0f0; }

.calendar_day_heading { font-weight: bold; color: #FFFFFF; }

/*.clock_on_box { border: 1px solid #00BF00; background-color: #EAEAEA; }*/
.clock_on_box { border: 1px solid #00BF00; }
/*.clock_off_box { border: 1px solid #FF1010; background-color: #EAEAEA; }*/
.clock_off_box { border: 1px solid #FF1010; }

.clock_on_text { color: #00BF00; }

.clock_off_text { color: #FF1010; }

.grey_area { background-color: #FFFFFF; }
.grey_area a:link { font-size: 10px; font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #00066F; padding: 0px;}
.grey_area a:visited { font-size: 10px; font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #00066F; padding: 0px;}
.grey_area a:hover { font-size: 10px; font-weight: bold; font-family: Verdana, Arial, sans-serif; cursor:default; color: #60006F; padding: 0px;}

.timesheet_logo { font-size: 20px; font-family: Arial, sans-serif; font-weight: bold; font-style: italic; color: #CCCCE0; }

.white_heading { font-size: 20px; font-family: Arial, sans-serif; font-weight: bold; font-style: italic; color: #4C4C80; }

.client_name_small { font-size: 9px; font-family: Tahoma, Arial, sans-serif; color: #555555; font-weight: bold; }
.project_name_small { font-size: 9px; font-family: Tahoma, Arial, sans-serif; color: #E9AD4D; font-weight: bold; }
.task_name_small { font-size: 9px; font-family: Tahoma, Arial, sans-serif; color: #00066F; font-weight: bold; }
.task_time_small { font-size: 9px; font-family: Tahoma, Arial, sans-serif; color: #00066F; }
.task_time_small_appr { font-size: 9px; font-family: Tahoma, Arial, sans-serif; color: #20CD3A; }
.task_time_small_subbed { font-size: 9px; font-family: Tahoma, Arial, sans-serif; color: #FFC60C; }
.task_time_total_small { font-size: 9px; font-family: Tahoma, Arial, sans-serif; color: red; }


.project_task_list { height: 80px; overflow: auto; padding-left: 5px; padding-right: 5px; margin: 5px; border: 1px solid #5271CC; }

.disabledLink { color: #BBBBBB; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; }

.bottom_bar_text { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #BAC7EE; }

.command:link { color: #000788; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; font-size: 11px; }
.command:visited { color: #000788; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; font-size: 11px; }
.command:hover { color: #6D72C6; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; font-size: 11px; }

.command_current { color: #6D72C6; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-decoration: none; font-size: 11px; }

.login_image { background-image: url(../images/logo.gif); width: 136px; height: 46px; margin-right: 20px; }

.face_padding_cell {width: 100%; padding: 2px 5px 5px 5px; background: #FFFFFF; }

.face_padding_cell_small { padding: 0px 3px 3px 3px; background: #FFFFFF; }

.simple_border {
		border-left: 1px solid #5271CC;
		border-top: 1px solid #5271CC;
		border-right: 1px solid #5271CC;
		border-bottom: 1px solid #5271CC;
		background-color: #E0EEFF; }

.calendar_delete_cell {
	text-align:center; }

.calendar_delete_cell a:link, .calendar_delete_cell a:visited {
	color:#e04040; }
tr.diff td { background:#C4C4C4; }


.nobr {white-space: nowrap}

.left {float:left;}

#inputArea
{
    padding: 10px;
    width:50%;
}
#inputArea input[type="text"], #inputArea textarea
{
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    /*width: 300px;*/
	background-color: #EDF2F7;
}

