#This file intentionally contains gibberish
#If a htaccess file contains invalid data it will cause
#a Server 500 error.
#In this case this is a good thing as it means the override-directive is
#configured to read htaccess files



#start gibberish

asdf;lksajdf;lkasjdf;lkj

#end gibberish